* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

/* estilos globales */

body {
  background-color: #181419;
  color: white;
}

.button {
  background-color: #9f3647;
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.1rem;
  padding: 16px 32px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  transition: transform 0.3s;
}

.button:hover {
  transform: scale(0.95);
}

hr {
  display: flex;
  margin: auto;
  width: 100%;
  max-width: 70%;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 30px;
}

/* header */
.header {
  color: #ffffff;
  height: 100dvh;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url("./img/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .navegacion {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1.5rem;
    min-height: 10vh;
    background-color: #9f3647;
    position: sticky;

    .anclaLogo {
      text-decoration: none;
      color: #ffffff;
      font-weight: 700;
      font-size: 1.2rem;
    }

    .listaNav {
      list-style: none;
      display: flex;
      gap: 10px;
      align-items: center;

      .listaItem {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        .linkNav {
          color: #ffffff;
          text-decoration: none;
          font-weight: 700;
          font-size: 1.1rem;
          padding: 0.5rem 1rem;

          transition: transform 0.3s, box-shadow 0.3s;
          &:hover {
            transform: scale(0.95);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            border-radius: 5px;
          }
        }

        .linkNav.iniciarSesion {
          background-color: #181419;
          color: white;
          border-radius: 5px;

          transition: transform 0.3s, box-shadow 0.3s;
          &:hover {
            background-color: #9f3647;
            transform: scale(0.95);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          }
        }
      }
    }
  }

  .hero {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    height: calc(100% - 2rem);
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
  }
}

/* Main */
.buscar {
  height: 50vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1024px;
  margin: auto;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 0 1rem;

  > div {
    width: 100%;
    max-width: 90%;
    display: flex;
    gap: 15px;

    input {
      width: 100%;
      border: none;
      border-radius: 50px;
      padding: 15px;
      font-size: 20px;
    }
  }
}

.tendencias {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 1rem;
  text-align: center;

  h2 {
    padding: 20px 0;
  }
}

.servicios {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 1rem;

  h2 {
    padding: 30px 0;
  }
}

/* Main */

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1.5rem;
  min-height: 10vh;
  background-color: #9f3647;

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    li {
      list-style: none;
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}

/* estilos para header mobile y tablet */

@media (max-width: 768px) {
  .header {
    height: initial;

    .navegacion {
      flex-direction: column; /* cambia los elementos para que se vean como columna */
      row-gap: 20px;

      .anclaLogo {
        font-weight: 700;
        font-size: 1.2rem;
      }

      .listaNav {
        padding: initial;

        .listaItem {
          .linkNav {
            font-weight: 400;
            margin-right: initial;
            font-size: 1rem;
            padding: 0.2rem;
          }
        }
      }
    }
  }

  .hero {
    min-height: 100dvh;

    h2 {
      font-size: 20px;
    }
  }
}
